<div class="form-group">
    <label class="col-md-2 control-label">Customer ID</label>
    <div class="col-md-3 inputGroupContainer">
        <input type="text" class="form-control" ng-model="customerId"/>

    </div>
    <button class="btn btn-primary" ng-click="getCustomer()">Search</button>
</div>

<br/>

<div ng-hide="customer == null">
<table class="table table-striped">
    <tbody>
    <tr>
        <td colspan="1">
            <form class="well form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="firstName" name="firstName" placeholder="First Name" ng-model="customer.firstName" class="form-control" required="true" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Customer Type</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="customerType" name="customerType" placeholder="Customer Type" class="form-control" required="true" ng-model="customer.customerType" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address Line 1</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true" ng-model="customer.address.postalAddressLine1" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address Line 3</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="addressLine3" name="addressLine3" placeholder="Address Line 3" class="form-control" required="true" ng-model="customer.address.postalAddressLine3" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Postal Code/ZIP</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true" ng-model="customer.address.postCode" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-md-4 control-label">Country</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                <select class="selectpicker form-control">
                                    <option>A really long option to push the menu over the edget</option>
                                </select>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" ng-model="customer.email" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country of birth</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <input id="countryOfBirth" name="countryOfBirth" placeholder="Country of birth" class="form-control" required="true" ng-model="customer.countryOfBirth" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country tax</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <input id="countryTax" name="countryTax" placeholder="Country tax" class="form-control" required="true" ng-model="customer.countryTax" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </td>
        <td colspan="1">
            <form class="well form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="lastName" name="lastName" placeholder="Last Name" class="form-control" required="true" ng-model="customer.lastName" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Company Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="companyName" name="companyName" placeholder="Company Name" class="form-control" required="true" ng-model="customer.companyName" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address Line 2</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control" required="true" ng-model="customer.address.postalAddressLine2" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">City</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="city" name="city" placeholder="City" class="form-control" required="true" ng-model="customer.address.postCity" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="country" name="country" placeholder="Country" class="form-control" required="true" value="" ng-model="customer.address.postCountry" type="text" readonly>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-md-4 control-label">Phone Number</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control" required="true" ng-model="customer.phone" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country citizenship</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <input id="countryCitizenship" name="countryCitizenship" placeholder="Country citizenship" class="form-control" required="true" ng-model="customer.countryCitizenship" value="" type="text" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </td>
    </tr>
    </tbody>
</table>



</div>
